body {
    background-color: #0d1017;
    font-family: Arial, Helvetica, sans-serif;
    color: #afbac5;
    margin: 1svw;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col_heading {
    font-size: 1.2em;
    border: 2px solid #afbac5;
    font-weight: bold;
    padding: 0 10px;
}

.blank {
    border: none;
    background-color: #afbac5;
}

.row_heading {
    font-size: 1em;
}

.col1, .col2, .col4 {
    text-align: center;
}

.row_heading, .data {
    border-bottom: 1px solid #afbac5;
}